@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: 'Staatliches';
    display: flex;
    justify-content: space-around;
}

.container {
    min-width: 500px;
    min-height: 30rem;
    overflow: auto;
    border: 1px solid #457b9d;
    border-radius: 10px;
    margin: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.tasks {
    padding: 10px;
}

.task {
    background: #8099bb;
    margin: 5px;
    padding: 10px 20px;
}

.task.important {
    border-left: 10px solid #457b9d;
}

.footer {
    display: grid;
    justify-content: center;
    margin: 20px;
}